{% extends 'home/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/detail_product/detail.css' %}">
<link rel="stylesheet" href="{% static 'css/detail_product/scal_img.css' %}">
{% endblock head %}
{% block title %}
detail the product
{% endblock title %}

{% block body %}
    <div class="detail_container">
        <div class="detail_informations">
            <div class="detail_address">
                <h3>{{obj.PRDName|truncatewords:30}}</h3>
            </div>
            <div class="detail_description" id="detail_description">
                <label for="">Descriptions:</label>
                <div class="discription2">
                  {{obj.PRDDiscription}}
                </div>
            </div>
            <div class="detail_price">
                {% if obj.PRDDiscount %}
                <div class="price"  style="text-decoration: line-through;color: brown;">{{obj.PRDPrice}}$</div>
                <div class="discount">{{obj.PRDDiscount}}$</div>
                {% else %}
                <div class="price" >1234$</div>
                {% endif %}
            </div>

            <a href="{% url 'product:create_order_from_product' obj.PRDSlug %}" class="detail_addOrder" >Add Order</a>
                
        </div>

        <div class="detail_images">
            <div class="detail_image">
                
                <img src="{{obj.PRDIamge.url}}" alt="" id="image_product">
                {% if obj.PRDDiscount %}
                <div class="dsicountt"><p>discount</p></div>
                {% endif %}
            </div> 
            <div class="advertising">
                <video src="{% static 'img/x.mp4' %}" autoplay muted loop> 
                </video>
            </div>  
        </div>

    </div>
    <div class="courser"  id='courser'>

        <!--cursor for scal image-->
    </div>
    <div class="absolute_cursor" id="absolute_cursor">

    </div>
{% endblock body %}

{% block script %}
    <script src="{% static 'js/detail_product/scal-x.js' %}"></script>
{% endblock script %}
