{% extends 'home/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/search_home_page.css' %}">
<link rel="stylesheet" href="{% static 'css/slaid_card.css' %}">
{% endblock head %}

{% block title %}
products
{% endblock title %}
{% block body %}
    <!--super hero-->
    <div class="section">
        <div class="cover_section" style="display: flex;">
            <div class="form_search">
                <form action="{% url 'product:main_filer' %}" method="GET">
                    {% csrf_token %}
                    <input type="search" name="search" id="">
                    <div class="custom-select" style="width:200px;">
                        <select name="s" >
                          <option  value="0">Product Type:</option>
                          <option  value="Carpets and meridians">Carpets and meridians</option>
                          <option  value="the games">the games</option>
                          <option  value="Electrical">Electrical</option>
                          <option  value="Mobile phones">Mobile phones</option>
                        </select>
                      </div>
                    <button type="submit"><i class="far fa-search"></i></button>
                </form>
                
            </div>
            
        </div>
       
    </div>
{% if message %}
<p style="color: #fff;width: 100%;height: 40px;display: flex;align-items: center;justify-content: center;background-color: #1a1a1a;font-size: 20px;" >{{message}}</p>
{% endif %}
<!--end hero-->
    <!--card-->
    <div class="container_cord">
    <div class="wepper">
        {% for obj in obj %}
    
                <div class="card">
                    <div class="image">
                        <img src="{{obj.PRDIamge.url}}" alt="">
                    </div>
                    <div class="name">
                        <a href="">{{obj.PRDName}}</a>
                    </div>
                    
                    <div class="discription">
                        {{obj.PRDDiscription}}
                    </div>
                    <div class="price">
                        <div class="discount">
                            {% if obj.PRDDiscount %}
                            <div class="removerprice">
                                ${{obj.PRDPrice}}
                            </div>
                            ${{obj.PRDDiscount}}
                            {% else %}
                            ${{obj.PRDPrice}}
                            {% endif %}
                        </div>
                        
                        <div class="state">
                            {% if obj.PRDSate == "new"%}
                            <div class="new"><img src="{% static 'img/new.png' %}" alt=""></div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="add_card">
                        {% if user.is_authenticated %}
                        <button class="add_button" data-slug="{{obj.PRDSlug}}" data-action="add">
                        Add to Card
                        </button>
                        {% else %}
                        <a  class="add_buttona"  href="{% url 'login' %}">Add to Card</a>
                        {% endif %}
                </div>
            </div>

        {% endfor %}
    </div>
    </div>   <!--end card-->
{% if obj.has_other_pages %}
    <nav class="pagination_nav" aria-label="Page navigation example">
        <ul class="pagination">
        {% if obj.has_previous %}
          <li class="page-item"><a class="page-link" href="?page={{obj.previous_page_number}}"><i class="fas fa-arrow-circle-left"></i></a></li>
        {% endif %}
        {% for page in obj.paginator.page_range %}
        {% if obj.number == page %}
          <li class="page-item active"><a class="page-link" style="color: #000;" href="#">{{page}}</a></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
        {% endif %}
          {% endfor %}
          {% if obj.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{obj.next_page_number}}"><i class="fas fa-arrow-circle-right"></i></a></li>
            {% endif %}
        </ul>
      </nav>
{% endif %}


{% endblock body %}

{% block script %}
<script>
    x='{{X}}'
    console.log('x :',x)
</script>
<script src="{% static 'js/home_serach_select.js' %}" ></script>
<script src={% static 'js/cardAdd.js' %}></script>

{% endblock script %}