{% extends 'home/base.html' %}
{% load static %}

    {% block head %}
    <link rel="stylesheet" href="{% static 'css/admin_style/style1.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin_style/mobile_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin_style/search_by_type.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin_style/optinn_admin_mobile.css' %}">
    <style>
        .maximimcomplate{
            width: 90%;
            height:40px;
            display: flex;
            align-items: center;
            margin-top: 60px;
            box-shadow: 0px 2px 2px #000;
            padding: 5px;
        }
        .maximimcomplate>p{
            font-size: 20px;
            background: #22c1c3;
            background: -webkit-linear-gradient(to right, #fdbb2d, #22c1c3);
            background: -moz-linear-gradient(to right, #fdbb2d, #22c1c3);
            background: -o-linear-gradient(to right, #fdbb2d, #22c1c3);
            background: linear-gradient(to right, #fdbb2d, #22c1c3);
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -ms-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-text-fill-color: transparent;
            -ms-text-fill-color: transparent;
            margin-left: 5px;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        @media screen and (max-width:600px){
            .maximimcomplate>p{
                font-size: 15px;
            }
        }/*end media */
        @media screen and (max-width:380px){
            .maximimcomplate>p{
                font-size: 12px;
            }
        }/*end media */
        @media screen and (max-width:340px){
            .maximimcomplate>p{
                font-size: 10px;
            }
        }/*end media */
    </style>
    {% endblock head %}
    {% block title %}
     admin
    {% endblock title %}

{% block body %}
   <div class="admin_container">
       <div class="search_by">
           <form id="submit" action="{% url 'admin_management' %}"  method="POST">
               {% csrf_token %}
              <div class="date">
                
                <label class="optint_page" for="">date
                    {% if time == 'date' %}
                    <input type="radio" name="time" value="date" checked="checked" id="1">
                    {% else %}
                    <input type="radio" name="time" value="date"  id="1">
                    {% endif %}
                    <span class="optionmark"></span>
                </label>
              </div>
              <div class="week">
                <label class="optint_page" for="">week
                    {% if time == 'week' %}
                    <input type="radio" name="time" value="week" checked="checked" id="2">
                    {% else %}
                    <input type="radio" name="time" value="week"  id="1">
                    {% endif %}
                    <span class="optionmark"></span>
                </label>
              </div>
             <div class="day">
                
                <label class="optint_page" for="">day
                    {% if time == 'day' %}
                    <input type="radio" name="time" value="day" checked="checked" id="3">
                    {% else %}
                    <input type="radio" name="time" value="day" id="1">
                    {% endif %}
                    <span class="optionmark"></span>
                </label>
             </div>
           </form>
       </div>
       <div class="admin_filter">
           <div class="admin_date" >
              <p style="width: 100%; height: 100%;display: flex;justify-content: space-between;align-items: center;" id="admin_date"> 
                {{time}} :
        {% if request.user.is_authenticated %}
                {% if time == 'day' %}
                    {% if coverttodate %}
                    &ThinSpace;
                    {{coverttodate|date:'g :i .A'}}
                    {% else %}
                    &ThinSpace;All
                    {% endif %} 
                {% endif %}

                {% if time == 'week' %}
                {% if coverttodate %}
                &ThinSpace;
                {{coverttodate|date:'n/ j'}}
                {% else %}
                &ThinSpace;All
                {% endif %} 
                {% endif %}

                {% if time == 'date' %}
                {% if coverttodate %}
                &ThinSpace;
                {{coverttodate|date:'Y/ n/ j'}}
                {% else %}
                &ThinSpace;All
                {% endif %} 
                {% endif %}
        {% endif %}
                <i class="fas fa-sort-amount-down"></i> </p>
            <div class="date_cover" id="date_cover">
                <div class="date_wepper">
        {% if request.user.is_authenticated %}
                    {% if time == 'week' %}
                        {% for i in reportDate %}
                        <a href="{% url 'admin_filter' time i %}">
                            
                            <div class="field_date">
                            {{i|date:'n/j'}}
                            </div>
                        
                        </a>
                        {% endfor %}
                    {% endif %}

                    {% if time == 'day' %}
                        {% for i in reportDate %}
                        <a href="{% url 'admin_filter' time i %}">
                            
                            <div class="field_date">
                            {{i|date:'g:i .A'}}
                            </div>
                        
                        </a>
                        {% endfor %}
                    {% endif %}

                    {% if time == 'date' %}
                        {% for i in reportDate %}
                        <a href="{% url 'admin_filter' time i %}">
                            
                            <div class="field_date">
                            {{i|date:'Y/ n/ j'}}
                            </div>
                        
                        </a>
                        {% endfor %}
                    {% endif %}
        {% endif %}
                    <a href="{% url 'admin_management' %}">
                        
                        <div class="field_date">
                           All&ThinSpace;&ThinSpace;<i class="fas fa-reply-all"></i>
                        </div>
                    
                    </a>
                </div>
            </div>
           </div>

           <div class="admin_totalOrder">
               {% if counttotalorders >= 0 %}
               <a href="{% url 'admin_without_filter' st en al %}" style="text-decoration: none;color: #fff;">total orders : {{counttotalorders}}</a>
               {% else %}
               <a href="{% url 'admin_without_filter' st en al %}" style="text-decoration: none;color: #fff;">total orders : {{everyorder}}</a> 
               {% endif %}
           </div>
           
       </div>
       {% if request.user.is_authenticated %}
    <div class="admin_state">
        
        <a href="{% url 'admin_without_filter' st en Can %}"  class="_complate">
        <div class="admin_complate">
            {% if countCanel >= 0 %}
            canceled:<p>{{countCanel}}</p> 
            {% else %}
            canceled:<p>{{countCa}}</p> 
            {% endif %}
            </div>
        </a>

        <a href="{% url 'admin_without_filter' st en com %}" class="_cancel">
            <div class="admin_cancel">
                {% if countComplate >= 0%}
                complated:<p>{{countComplate}}</p> 
                {% else %}
                complated:<p>{{countCo}}</p> 
                {% endif %}
            </div>
        </a>

        <a class="_postponement" href="{% url 'admin_without_filter' st en Pos %}">
            <div class="admin_postponement" >
                {% if countPostpon >= 0%}
                postpon:<p>{{countPostpon}}</p> 
                {% else %}
                postpon:<p>{{countPo}}</p> 
                {% endif %}
            </div>
        </a>
    </div>
{% endif %}
<div class="maximimcomplate">
   <p> Maximum orders for the day :&ThinSpace;{{max}}</p> 
</div>
{% if request.user.is_authenticated %}
    <div class="admin_report">
        <div class="report">
            <div class="day1">
                <p>day1 : </p><div style="max-width:{{s.0}}%;" ></div>
            </div>
            <div class="day2">
                <p>day2 :</p> <div style="max-width:{{s.1}}%;"></div>
            </div>
            <div class="day3">
                <p>day3 :</p> <div style="max-width:{{s.2}}%;"></div>
            </div>
            <div class="day4">
                <p>day4 :</p> <div style="max-width: {{s.3}}%" ></div>
            </div>
            <div class="day5">
                <p>day5 :</p> <div style="max-width:{{s.4}}%;"></div>
            </div>
            <div class="day6">
               <p> day6 :</p> <div style="max-width: {{s.5}}%;" ></div>
            </div>
            <div class="day7">
                <p>day7 :</p> <div style="max-width: {{s.5}}%;"></div>
            </div>
        </div>
    </div>
    {% endif %}
   </div> 
{% endblock body %}

{% block script %}
<script src="{% static 'js/filter_list_admin.js' %}"></script>
<script src="{% static 'js/admin_page/option_type.js' %}"></script>
{% endblock script %}
