{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="{% static 'css/admin_style/style1.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin_style/mobile_style.css' %}">
    <title>admin</title>
</head>
<body>
   <div class="admin_container">
       <div class="admin_filter">
           <div class="admin_date" >
              <p style="width: 100%; height: 100%;display: flex;justify-content: space-between;align-items: center;" id="admin_date">  date time <i class="fas fa-sort-down"></i> </p>
            <div class="date_cover" id="date_cover">
                <div class="date_wepper">
                    {% for i in reportDate %}
                    <a href="{% url 'admin_filter' i %}">
                        
                        <div class="field_date">
                           {{i|date:'n/j'}}
                        </div>
                    
                    </a>
                    {% endfor %}
                </div>
            </div>
           </div>
           <div class="admin_totalOrder">
               total orders : 5687568
           </div>
           
       </div>
       <div class="admin_state">
           <a href=""  class="_complate">
            <div class="admin_complate">
                complated:<p>9999</p> 
             </div>
           </a>

        <a href="" class="_cancel">
            <div class="admin_cancel">
                canceled:<p>9999</p> 
            </div>
        </a>

        <a class="_postponement" href="">
            <div class="admin_postponement" >
                postpon:<p>9999</p> 
            </div>
        </a>
    </div>

    <div class="admin_report">
        <div class="report">
            <div class="day1">
                <p>day1 : </p><div style="max-width: 55%;" ></div>
            </div>
    
            <div class="day2">
                <p>day2 :</p> <div style="max-width: 60%;"></div>
            </div>
    
            <div class="day3">
                <p>day3 :</p> <div style="max-width: 70%;"></div>
            </div>
    
            <div class="day4">
                <p>day4 :</p> <div style="max-width: 20%;" ></div>
            </div>
    
            <div class="day5">
                <p>day5 :</p> <div style="max-width: 10%;"></div>
            </div>
    
            <div class="day6">
               <p> day6 :</p> <div style="max-width: 80%;" ></div>
            </div>
    
            <div class="day7">
                <p>day7 :</p> <div style="max-width: 100%;"></div>
            </div>
        </div>
    </div>
   </div> 
   <script src="{% static 'js/filter_list_admin.js' %}"></script>
</body>
</html>