{% extends 'home/base.html' %}
{% load static %}

    {% block head %}
    <link rel="stylesheet" href="{% static 'css/admin_style/style1.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin_style/mobile_style.css' %}">
    {% endblock head %}
    {% block title %}
     admin
    {% endblock title %}

{% block body %}
   <div class="admin_container">
       <div class="admin_filter">
           <div class="admin_date" >
              <p style="width: 100%; height: 100%;display: flex;justify-content: space-between;align-items: center;" id="admin_date">  date :{% if coverttodate %}&ThinSpace;{{coverttodate|date:'n/j'}}{% else %}&ThinSpace;All{% endif %}  <i class="fas fa-sort-amount-down"></i> </p>
            <div class="date_cover" id="date_cover">
                <div class="date_wepper">
                    {% for i in reportDate %}
                    <a href="{% url 'admin_filter' i %}">
                        
                        <div class="field_date">
                           {{i|date:'n/j'}}
                        </div>
                    
                    </a>
                    {% endfor %}
                    <a href="{% url 'admin_management' %}">
                        
                        <div class="field_date">
                           All&ThinSpace;&ThinSpace;<i class="fas fa-reply-all"></i>
                        </div>
                    
                    </a>
                </div>
            </div>
           </div>
           <div class="admin_totalOrder">
               {% if counttotalorders >= 0 %}
               total orders : {{counttotalorders}}
               {% else %}
               total orders : {{everyorder}}
               {% endif %}
           </div>
           
       </div>
    <div class="admin_state">
        
        <a href=""  class="_complate">
        <div class="admin_complate">
            {% if countCanel >= 0 %}
            canceled:<p>{{countCanel}}</p> 
            {% else %}
            canceled:<p>{{countCa}}</p> 
            {% endif %}
            </div>
        </a>

        <a href="" class="_cancel">
            <div class="admin_cancel">
                {% if countComplate >= 0%}
                complated:<p>{{countComplate}}</p> 
                {% else %}
                complated:<p>{{countCo}}</p> 
                {% endif %}
            </div>
        </a>

        <a class="_postponement" href="">
            <div class="admin_postponement" >
                {% if countPostpon >= 0%}
                postpon:<p>{{countPostpon}}</p> 
                {% else %}
                postpon:<p>{{countPo}}</p> 
                {% endif %}
            </div>
        </a>
    </div>

    <div class="admin_report">
        <div class="report">
            <div class="day1">
                <p>day1 : </p><div style="max-width: 55%;" ></div>
            </div>
    
            <div class="day2">
                <p>day2 :</p> <div style="max-width: 60%;"></div>
            </div>
    
            <div class="day3">
                <p>day3 :</p> <div style="max-width: 70%;"></div>
            </div>
    
            <div class="day4">
                <p>day4 :</p> <div style="max-width: 20%;" ></div>
            </div>
    
            <div class="day5">
                <p>day5 :</p> <div style="max-width: 10%;"></div>
            </div>
    
            <div class="day6">
               <p> day6 :</p> <div style="max-width: 80%;" ></div>
            </div>
    
            <div class="day7">
                <p>day7 :</p> <div style="max-width: 100%;"></div>
            </div>
        </div>
    </div>
   </div> 
   {% for fillter in fillter %}
   <br>
   {{fillter}}
   {% endfor %}
{% endblock body %}

{% block script %}
<script src="{% static 'js/filter_list_admin.js' %}"></script>
{% endblock script %}
