{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
    <link rel="stylesheet" href="{% static 'css/mobile_detail.css' %}">
    <link rel="stylesheet" href="{% static 'css/deatail_options.css' %}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datil of Order</title>
</head>
<body>
    {% if request.user.is_authenticated and request.user.username == 'Social' %}
    <div class="alldetail" id="alldetail" >
        <div class="cover" id="cover">
        <div class="name_user"><label for="">Namee :</label><div>
            {% if obj.customer.firs_name and obj.customer.last_name %}
            {{obj.customer.firs_name}} &ThinSpace;{{obj.customer.last_name}}
            {% else %}
        {{obj.customer}}
        {% endif %}
        </div>
           

        </div>
          <div class="name_product"><label for="">the Product :</label><div>{{obj.product}}</div></div>
            <div class="name_address">
                <label for=""> the Address :</label> <div>{{obj.address.covernorate}}</div>
                 <div>{{obj.address.state}}</div>
            </div>
            <div class="phone_number">
                <label for="">Phone Number :</label>
                <div>{{obj.address.phone_number1}}</div>
                <div>{{obj.address.phone_number2}}</div>
            </div>
            <div class="qunatity_detail">
                <label for="">Email</label>
                <div>{{obj.address.email}}</div>
            </div>
            <div class="qunatity_detail">
                <label for="">Quantity</label>
                <div>{{obj.quantity}}</div>
            </div>
            <div class="total_price">
                <label for="">Totle Price :</label>
                <div>${{obj.totleprice}}</div>
            </div>

        <div class="state_product">
            <label for="">Date :</label>
            <div>{{obj.date_add|date:'Y / m / d'}}</div>
        </div>
        <div class="state_product">
            <label for="">State of Product :</label>
            <div>
            {{obj.complate}}
            </div>
        </div>
        </div>
    </div>

    <div class="complate">
        <div class="print_detail"  id="print_detail">
        {% if obj.complate == 'complate' %}
           <p style="cursor: pointer;"><i class="fas fa-print"></i></p> 
           {% else %}
           <p class="notallow"><i class="fas fa-print"></i></p> 
        {% endif %}
        </div>
        <form action=""  class="form_state"  method="POST" >
            <div class="cancel">
                {% if obj.complate == 'Cancellation' %}
             <input class="cancell checkmark" type="radio" data-customer={{obj.customer}} data-product={{obj.product.PRDSlug}} >&ThinSpace; Cancel
             {% else %}
             <input class="cancell" type="radio" data-customer={{obj.customer}} data-product={{obj.product.PRDSlug}} >&ThinSpace; Cancel
             {% endif %}
             <span></span>
            </div>
            <div class="Postponement">
                {% if obj.complate == 'Postponement' %}
                <input  class="Postponementt checkmark" type="radio" data-customer={{obj.customer}} data-product={{obj.product.PRDSlug}}>&ThinSpace; Postpon
                {% else %}
                <input  class="Postponementt" type="radio" data-customer={{obj.customer}} data-product={{obj.product.PRDSlug}}>&ThinSpace; Postpon
                {% endif %}
                <span></span>
            </div>
            <div class="complat">
                {% if obj.complate == 'complate' %}
                <input class="complatt checkmark" type="radio" data-customer={{obj.customer}} data-product={{obj.product.PRDSlug}}>&ThinSpace; Complate
                {% else %}
                <input class="complatt" type="radio" data-customer={{obj.customer}} data-product={{obj.product.PRDSlug}}>&ThinSpace; Complate
                {% endif %}
                <span></span>
            </div>
               
        </form>
    </div>
    <script>complate="{{obj.complate}}"</script>
    {% endif %}
    <script>
        function getToken(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
//انضيف هذا المتغير الى ملف الجافا سكربت حتى نححق مطالب سي اس ا اس ار اف تكوين
const csrftoken = getToken('csrftoken');
    </script>
    <script src="{% static 'js/print_detail.js' %}"></script>
    <script src="{% static 'js/managementorders.js' %}"></script>
    
</body>
</html>
