{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
    <link rel="stylesheet" href="{% static 'css/mobile_detail.css' %}">
    <link rel="stylesheet" href="{% static 'css/deatail_options.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datil of Order</title>
</head>
<body>
    {% if request.user.is_authenticated and request.user.username == 'Social' %}
    <div class="alldetail">
        <div class="cover">
        <div class="name_user"><label for="">Namee :</label><div>
            {% if obj.customer.firs_name and obj.customer.last_name %}
            {{obj.customer.firs_name}} &ThinSpace;{{obj.customer.last_name}}
            {% else %}
        {{obj.customer}}
        {% endif %}
        </div>
           

        </div>
          <div class="name_product"><label for="">the Product :</label><div>{{obj.product}}</div></div>
            <div class="name_address">
                <label for=""> the Address :</label> <div>{{obj.address.covernorate}}</div>
                 <div>{{obj.address.state}}</div>
            </div>
            <div class="phone_number">
                <label for="">Phone Number :</label>
                <div>{{obj.address.phone_number1}}</div>
                <div>{{obj.address.phone_number2}}</div>
            </div>
            <div class="qunatity_detail">
                <label for="">Email</label>
                <div>{{obj.address.email}}</div>
            </div>
            <div class="qunatity_detail">
                <label for="">Quantity</label>
                <div>{{obj.quantity}}</div>
            </div>
            <div class="total_price">
                <label for="">Totle Price :</label>
                <div>${{obj.totleprice}}</div>
            </div>

        <div class="state_product">
            <label for="">Date :</label>
            <div>{{obj.date_add|date:'Y / m / d'}}</div>
        </div>
        <div class="state_product">
            <label for="">State of Product :</label>
            <div>
            {{obj.complate}}
            </div>
        </div>
        </div>
    </div>

    <div class="complate">
        <div class="print_detail">
           <p>Print</p> 
        </div>
        <form action=""  class="form_state"  method="POST" >
            <div class="cancel">
                {% if obj.complate == 'Cancellation' %}
             <input class="cancell checkmark" type="radio" data-customer={{obj.customer}} data-product={{obj.product.PRDSlug}} >&ThinSpace; Cancel
             {% else %}
             <input class="cancell" type="radio" data-customer={{obj.customer}} data-product={{obj.product.PRDSlug}} >&ThinSpace; Cancel
             {% endif %}
             <span></span>
            </div>
            <div class="Postponement">
                {% if obj.complate == 'Postponement' %}
                <input  class="Postponementt checkmark" type="radio" data-customer={{obj.customer}} data-product={{obj.product.PRDSlug}}>&ThinSpace; Postponement
                {% else %}
                <input  class="Postponementt" type="radio" data-customer={{obj.customer}} data-product={{obj.product.PRDSlug}}>&ThinSpace; Postpon
                {% endif %}
                <span></span>
            </div>
            <div class="complat">
                {% if obj.complate == 'complate' %}
                <input class="complatt checkmark" type="radio" data-customer={{obj.customer}} data-product={{obj.product.PRDSlug}}>&ThinSpace; Complate
                {% else %}
                <input class="complatt" type="radio" data-customer={{obj.customer}} data-product={{obj.product.PRDSlug}}>&ThinSpace; Complate
                {% endif %}
                <span></span>
            </div>
               
        </form>
    </div>
    {% endif %}
</body>
</html>
