{% extends 'home/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/managementorder.css' %}">
<link rel="stylesheet" href="{% static 'css/managementorder22.css' %}">
<link rel="stylesheet" href="{% static 'css/mobile_management.css' %}">
<link rel="stylesheet" href="{% static 'css/mobile_search_management.css' %}">
{% endblock head %}
{% block title %}
Management Order
{% endblock title %}


{% block body %}
{% if request.user.is_authenticated and request.user.username == 'Social' %}
<div class="search_filter">
    <div class="filter_wepper">
        <p>
         Search by :
        </p>
        <p>
            <a href="" id="Date" >Date</a> 
        </p>
        <p>
            <a href=""id="State">State</a> 
        </p>
        <p>
            <a href="" id="Order">Order</a>
        </p>
    </div>
    <div class="date_filter">
        <div class="filter_form" >
            <form action="" method="POST" class="form_date" id="form_date" >
                <input type="search" name="filter_searcg" id="" placeholder="YY/MM/DD" >
                <button type="submit">
                    <i class="far fa-search"></i>
                </button>
            </form>
            <form action="" method="POST" class="state_form" id="state_form">
                <input type="search" name="filter_searcg" id="" placeholder="the state of the order item" >
                <button type="submit">
                    <i class="far fa-search"></i>
                </button>
            </form>

            <form action="" method="POST" class="order_form" id="order_form">
                <input type="search" name="filter_searcg" id="" placeholder="enter name of customer" >
                <button type="submit">
                    <i class="far fa-search"></i>
                </button>
            </form>
        </div>

    </div>


</div>
<div class="requsets">
    <div class="wepper">
        {% for obj in obj  %}
        {% if obj.address %}
        <div class="cover">
            <a href="{% url 'detaill' obj.id %}">
                <div class="card">
                    <div class="image">
                        <img src="{{obj.product.PRDIamge.url}}" alt="">
                    </div>
                    <div class="info_product">
                        {% if obj.customer.first_name and obj.customer.last_name %}
                        <h3>Name :{{obj.customer.first_name}}&ThinSpace;{{obj.customer.last_name}}</h3>
                        {% else %}
                        <h3>Username :{{obj.customer}}</h3>
                        {% endif %}
                        <h5>Product :{{ obj.product}}</h5>
                        <p>Qunatity : {{obj.quantity}}</p>
                        <p class="tp">Total price : ${{obj.totleprice}}</p>
                        <p class="tp">Date : {{obj.date_add|date:'Y m d'}}</p>
                    </div>
                </div>
            </a>
        
        <div class="complate">
            <form action=""  class="form_state"  method="POST" >
                <div class="cancel">
                    {% if obj.complate == 'Cancellation' %}
                 <input class="cancell checkmark" type="radio" data-customer={{obj.customer}} data-product={{obj.product.PRDSlug}} >&ThinSpace; Cancel
                 {% else %}
                 <input class="cancell" type="radio" data-customer={{obj.customer}} data-product={{obj.product.PRDSlug}} >&ThinSpace; Cancel
                 {% endif %}
                 <span></span>
                </div>
                <div class="Postponement">
                    {% if obj.complate == 'Postponement' %}
                    <input  class="Postponementt checkmark" type="radio" data-customer={{obj.customer}} data-product={{obj.product.PRDSlug}}>&ThinSpace; Postponement
                    {% else %}
                    <input  class="Postponementt" type="radio" data-customer={{obj.customer}} data-product={{obj.product.PRDSlug}}>&ThinSpace; Postponement
                    {% endif %}
                    <span></span>
                </div>
                <div class="complat">
                    {% if obj.complate == 'complate' %}
                    <input class="complatt checkmark" type="radio" data-customer={{obj.customer}} data-product={{obj.product.PRDSlug}}>&ThinSpace; Complate
                    {% else %}
                    <input class="complatt" type="radio" data-customer={{obj.customer}} data-product={{obj.product.PRDSlug}}>&ThinSpace; Complate
                    {% endif %}
                    <span></span>
                </div>
                   
            </form>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    </div>
</div>
{% endif %}
{% endblock body %}


{% block script %}
<script src="{% static 'js/managementorders.js' %}" ></script>
<script src="{% static 'js/show_form_management.js' %}" ></script>
{% endblock script %}