.cover_login.larger.morelarger{
    width: 80%;
    height: auto;
}

.username{
    width: 450px;
    height: 55px;
    margin: 20px;
    margin-bottom: -14px;
    border: 1px solid #000;
    background: transparent;
    padding: 10px;
    color: #fff;
    font-size: 17px;
    box-shadow: 3px 3px 3px #000, -3px 0px 3px #000;

}
.cover_login form ul{
    color: #fff;
    list-style: inside;
    margin: 35px;
}
.cover_login form button{
    width: 155px;
    height: 38px;
    border-radius: 4px;
    background-color: transparent;
    outline: 2px solid #de2020;
    box-shadow: 2px 2px 8px #a4c95a,-2px -2px 0px #a4c95a;
    color:#a4c95a ;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
    margin: 44px;
}