*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

body{
    background-color: #1a1a1a;
    color: #fff;
}
.navbar{
position: static;
}
.mtz-download-btn {
    display: none;
}
.chat {
    display: none;
}
.detail_container{
    padding: 10px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.detail_informations{
    padding :10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: -2px -3px 2px inset #0c0c0c;
    height: 600px;
}
.detail_informations .detail_address,.detail_informations .detail_description,.detail_informations .detail_price,.detail_informations .detail_qunatity{
    width: 100%;
    height: 60px;
    box-shadow: 2px 2px 2px #000,2px 2px 2px inset #484343;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    font-size: 20px;
}
.detail_informations .detail_description{
    height: 300px;
}
.detail_description{
    overflow: hidden;
    transition: all 1s ease;
}
.detail_description.increse_height{
    resize: vertical;
    overflow: auto;
    
    height: 600px;
}

.detail_informations .detail_description label{
    min-width: 130px;
    height: 100%;
}

.detail_informations .detail_description .discription2{
    font-size: 15px;
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
}

.detail_price{
    display: flex;

}

.detail_price .price,.discount{
    margin-right: 10px;
    color: green;
    font-size: 20px;
} 

.detail_qunatity label{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    
}

.detail_qunatity label p{
    margin-right: 5px;
    min-width: 80px;
}
.detail_qunatity label .qunatity{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 3px;
}

.detail_qunatity label .qunatity label{
    width: 50px;
    height: 119%;
    border:1px solid #4e4949;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    perspective: 500px;
}
.detail_twoButton{
    position: absolute;
    right: 6px;
    top: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
   
}

.detail_twoButton button{
    font-size: 16px;
    margin: 3px;
    background: transparent;
    color: #fff;
    cursor: pointer;
}

.detail_twoButton button:nth-child(1):hover{
    transform: scale(1.1);
    color: #9ffd0a;
}

.detail_twoButton button:nth-child(2):hover{
    transform: scale(1.1);
    color: #9ffd0a;
}

.detail_addOrder{
    width: 46%;
    height: 45px;
    /* margin: auto; */
    margin-top: 20px;
    border-radius: 10px;
    background: green;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

}

.detail_addOrder:hover{
    box-shadow:5px 6px 4px #000, 2px 2px 2px inset #9c9797;
}

.detail_images{
    padding:10px;
    width: 100%;
    position: relative;
}

.detail_image,.advertising{
    width: 100%;
    padding: 10px;
    height: 430px;
    box-shadow: 2px 2px 2px #000, 2px 2px 2px inset #3e3a3a;
    border-radius: 8px;
}

.detail_image img{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    box-shadow: 2px 2px 2px #000, 2px 2px 2px inset #3e3c3c;
}
.detail_image .dsicountt{
    position: absolute;
    right: 21px;
    top: 20px;
    width: 80px;
    height: 70px;
    color: #f90505;
    font-weight: 700;
    background: rgb(255,255,255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    border-bottom-left-radius: 90px;
    box-shadow: 0 2px 2px #000;
}

.detail_image .dsicountt p{
    transform: translateX(8px) translateY(-8px);
    animation-name: name;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-duration: .5s;
    cursor: default;
}

@keyframes name{
    0%,100%{
        color: rgb(153, 5, 5);
    }
    50%{
        color: rgb(255, 0, 0); 
        font-size: 16px;
    }
}

.advertising{
    height: 365px;
    margin-top: 10px;
}

.advertising video {
    object-fit: fill;
    border-radius: 5px;
    width: 100% !important;
    height: 100% !important;
    box-shadow: 2px 2px 2px #000;
}